.eat__pre-loader
  width 50px
  height 50px
  margin auto
  top 0
  bottom 0
  left 0
  border-radius 50%
  right 0
  position fixed
  display none
  bg_color  #fff 'ajax-tab__preloader.gif'
  background-size 100%
  z-index 999
  box-shadow 0 1px 1px rgba(0,0,0,.45)
