header.header
  height 60px
  width 100%
  background #e8e8e8
  top 0
  position relative
  margin-bottom 30px
.logo
  float right
  text-decoration none
  color #454545
  display table
  height 60px
  span
    display table-cell
    vertical-align middle
    padding-top 3px
    height 18px
    font-size 24px
    padding-bottom 4px
.tabs_menu
  list-style none
  position relative
  padding 0
  margin 0
  height 60px
  clear__fix();
  > li
    display table
    height 100%
    float left
    margin-right 25px
    > a
      display table-cell
      vertical-align middle
      height 18px
      font-size 18px
      text-decoration none
      color #454545
      font-weight 300
      padding-bottom 3px
      &:hover
        color #5186ff
    &.active
      a
        color #5186ff
